<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Welcome</title>
    <link rel="stylesheet" type="text/css" href="/main2.css" />
  </head>
  <body>
    <h1 id = "index_header">Welcome to <%=forumName%></h1>
    <table id = "index_table">
      <tr>
        <td><a href="about">╔════════━━━─── • ───━━━════════╗<br>❓About <%=forumName%>❓<br>╚════════━━━─── • ───━━━════════╝</a></td>
        <td><a href="viewposts">╔════════━━━─── • ───━━━════════╗<br>💬View Posts💬<br>╚════════━━━─── • ───━━━════════╝</a></td>
      </tr>
      <tr>
        <td><a href="users">╔════════━━━─── • ───━━━════════╗<br>👤List Users👤<br>╚════════━━━─── • ───━━━════════╝</a></td>
        <td><a href="addpost">╔════════━━━─── • ───━━━════════╗<br>➕Add a New Post➕<br>╚════════━━━─── • ───━━━════════╝</a></td>
      </tr>
      <tr>
        <td><a href="topics">╔════════━━━─── • ───━━━════════╗<br>📋List Topics📋<br>╚════════━━━─── • ───━━━════════╝</a></td>
        <td><a href="search">╔════════━━━─── • ───━━━════════╗<br>🔎Search for Posts🔎<br>╚════════━━━─── • ───━━━════════╝</a></td>
      </tr>
    </table>
  </body>
</html>
